
<div class="sidebar">
    <div class="logo">
        <div class="logo-image">APC</div>
        <div class="logo-text">
            <h2>{{user.username}}</h2>
            <p>administrador</p>
        </div>
    </div>
    <a href="/">
         <div class="menu-item">
        <div class="menu-item-icon">&#9638;</div>
        Dashboard
    </div>
    </a>
    <a href="/usuarios">
    <div class="menu-item">
        <div class="menu-item-icon">&#9993;</div>
        Usuarios
    </div>
    </a>
    <a href="/permissions">
    <div class="menu-item">
        <div class="menu-item-icon">&#128276;</div>
        permissões
    </div>
    </a>

    <div class="menu-item active">
        <div class="menu-item-icon">&#9782;</div>
        produtos
    </div>
</div>